<div class="flex justify-center items-center">
  <p><i class="fa-solid fa-utensils mr-2"></i>つくった</p>
  <div class= "text-theme text-sm border py-1 px-5 rounded-full mx-2">
    <i class="fa-solid fa-repeat mr-2"></i><%= bookmarked_recipe.repeat_i18n %>
  </div>
</div>
