<div class="flex justify-center">
  <%= link_to edit_recipe_path(recipe), class: "border border-secondary py-1 px-5 hover:shadow-lg rounded-full mx-2" do %>
    <i class="fa-solid fa-pen-to-square mr-2"></i>レシピ編集
  <% end %>
</div>
