<div class="flex items-center gap-4 my-2">
  <div class="flex-grow border border-dashed border-secondary text-sm"></div>
    <i class="fa-solid fa-repeat mr-2"></i><%= bookmarked_recipe.repeat_i18n %>
  <div class="flex-grow border border-dashed border-secondary"></div>
</div>