<div class="container mx-auto px-5 py-10 bg-card-body text-secondary border border-point rounded-lg items-center text-center">
<p class="text-center text-xl mb-5">レシピを生成中</p>
<div class='flex space-x-2 justify-center items-center'>
  <div class='h-4 w-4 bg-point rounded-full animate-bounce [animation-delay:-0.3s]'></div>
	<div class='h-4 w-4 bg-point rounded-full animate-bounce [animation-delay:-0.15s]'></div>
	<div class='h-4 w-4 bg-point rounded-full animate-bounce'></div>
</div>
  <%= image_tag 'eating.png' %>
  <p class= 'text-lg mb-2'>お弁当づくりのコツ</p>
  <p>冷凍やお惣菜でも大丈夫！<br>無理なく、楽しく続けていきましょう</p>
</div>
