<div class="container mx-auto px-5 py-10 bg-card-body text-secondary border border-point rounded-lg items-center text-center">
  <h1 class="text-xl font-semibold mb-5">レシピを生成中...</h1>
  <%= image_tag 'eating.png' %>
  <p class= 'text-lg mb-2'>お弁当づくりのコツ</p>
  <p>冷凍やお惣菜でも大丈夫！<br>無理なく、楽しく続けていきましょう</p>
</div>
