<div class="ing-nested-fields field">
  <div class="flex flex-wrap items-center">
    <div class="p-2 w-full md:w-6/12">
      <div class="relative">
        <%= f.text_field :name, placeholder: "材料名", class: "w-full rounded-lg border border-card-line py-1 px-3"%>
      </div>
    </div>
    <div class="p-2 w-full md:w-1/12 items-center text-center hidden md:block">
      - - -
    </div>
    <div class="p-2 w-full md:w-4/12">
      <div class="relative">
        <%= f.text_field :quantity, placeholder: "分量",class: "w-full rounded-lg border border-card-line py-1 px-3"%>
      </div>
    </div>
    <div class="p-2 w-full md:w-1/12 flex justify-center">
      <%= link_to_remove_association f, { wrapper_class: 'ing-nested-fields', class: "text-white bg-secondary rounded-full h-8 w-8 flex items-center justify-center hover:bg-point" } do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  </div>
</div>
