<h1 class="sm:text-3xl text-2xl font-medium title-font text-theme text-center">
  <i class="fa-solid fa-robot mr-1"></i>
  <%= recipe.title %>
</h1>
<div class="flex justify-center text-sm bg-point text-theme py-1 px-5 md:w-2/3 w-full mx-auto mt-6">
  こちらはAIで生成したレシピのため、内容に誤りがある場合がございます。出来上がりは必ずご自身で確認してください。
</div>

