<div class="step-nested-fields field">
  <div class="flex flex-wrap items-center">
    <div class="p-2 w-full md:w-1/12">
      <div class="relative">
        <%= f.text_field :number, class: "step-index text-center w-full rounded-lg border border-card-line py-1 px-3", readonly: true %>
      </div>
    </div>
    <div class="p-2 w-full md:w-10/12">
      <div class="relative">
        <%= f.text_field :description, class: "w-full rounded-lg border border-card-line py-1 px-3"%>
      </div>
    </div>
    <div class="p-2 w-full md:w-1/12 flex justify-center">
      <%= link_to_remove_association f, { wrapper_class: 'step-nested-fields', class: "text-white bg-secondary rounded-full h-8 w-8 flex items-center justify-center hover:bg-point"} do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  </div>
</div>
