<div class="md:w-1/3 flex flex-col items-center text-secondary">
  <%= image_tag tag.image_url, class: 'w-16 h-16 items-center justify-center mb-1 border border-gray-200 rounded-full'%>
  <%= tag.name %>
</div>