<% content_for(:title, t('.title')) %>

<section class="text-secondary body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <%# レシピ投稿と説明 %>
    <div class="flex flex-wrap w-full mb-20 md:ml-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-theme">
          <i class="fa-solid fa-pen-to-square mx-4"></i>レシピを投稿
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-secondary">
        以下の項目を入力して、レシピを登録してください。<br>
        材料は10こ、手順は5つまで登録できます。<br>
        レシピ検索を便利にするために、タグの登録をよろしくお願いします。
      </p>
    </div>
    <%# 入力フォーム %>
    <%= render 'form', recipe: @recipe, tags: @tags %>
  </div>
</section>
