<div class="items-center hidden md:flex">
  <%= link_to 'レシピ一覧', recipes_path, class:"flex items-center hover:text-point mx-5" %>
  <%= link_to 'みんなのお弁当', lunchbox_logs_path, class:"flex items-center hover:text-point mx-5" %>
  <%= link_to 'ログイン', login_path, class: "text-theme bg-point border border-card-line py-2 px-8 hover:shadow-lg rounded-full mx-2"%>
  <%= link_to 'ユーザー登録', new_user_path, class: "text-theme bg-card-body border border-card-line py-2 px-8 hover:shadow-lg rounded-full mx-2"%>
</div>
