<div class="md:hidden group relative z-40">
  <i class="fa-solid fa-bars menu-button fa-2x hover:cursor-pointer"></i>
  <div class="menu hidden absolute right-0 top-full mt-5 bg-white shadow-lg z-50 min-w-[180px]">
    <ul class="flex flex-col z-10 items-start border border-card-line">
      <div class="flex items-center my-1 px-4 py-1 hover:text-point">
        <i class="fa-solid fa-list fa-fw"></i>
        <%= link_to 'レシピ一覧', recipes_path %>
      </div>
      <div class="flex items-center my-1 px-4 py-1 hover:text-point">
        <i class="fa-regular fa-images mr-1"></i>
        <%= link_to 'みんなのお弁当', lunchbox_logs_path %>
      </div>
      <div class="flex items-center my-1 px-4 py-1 hover:text-point">
        <i class="fa-solid fa-user-plus mr-1"></i>
        <%= link_to 'ユーザー登録', new_user_path %>
      </div>
      <div class="flex items-center my-1 px-4 py-1 hover:text-point">
        <i class="fa-solid fa-right-from-bracket mr-1"></i>
        <%= link_to 'ログイン', login_path %>
      </div>
    </ul>
  </div>
</div>
