<% flash.each do |message_type, message| %>
  <% bg_color_class = flash_background_color(message_type) %>
  <div class="flash_message container mx-auto px-5 w-full">
    <div class="<%= bg_color_class %> px-4 py-3 rounded relative mt-5" role="alert">
      <span class="block sm:inline">
        <%= message %>
      </span>
    </div>
  </div>
<% end %>
