<footer class="footer bg-theme text-body border-t pt-2 pb-4 px-8 text-sm flex flex-col items-center">
  <ul class="flex flex-col md:flex-row justify-center md:justify-between text-center">
    <li class="mt-2 md:mt-0">
      <%= link_to '利用規約', "#", class: "hover:text-point"%>
    </li>
    <li class="ml-0 md:ml-4  mt-2 md:mt-0">
      <%= link_to 'プライバシーポリシー', "#", class: "hover:text-point"%>
    </li>
    <li class="ml-0 md:ml-4 mt-2 md:mt-0">
      <%= link_to 'お問い合わせ', "#", class: "hover:text-point"%>
    </li>
  </ul>
  <p class="copyright flex mt-2">
    © <%= Time.current.year %> いつものお弁当 All Rights Reserved.
  </p>
</footer>
