<footer class="footer bg-white text-gray-600 border-t border-gray-200 py-8 px-8 font-sans text-sm flex flex-col items-center">
  <ul class="flex flex-col md:flex-row justify-center md:justify-between text-center">
    <li class="hover:text-black mt-4 md:mt-0">
      <a href="#" class="text-gray-500 no-underline hover:text-black">利用規約</a>
    </li>
    <li class="ml-0 md:ml-4 hover:text-black mt-4 md:mt-0">
      <a href="#" class="text-gray-500 no-underline hover:text-black">プライバシーポリシー</a>
    </li>
    <li class="ml-0 md:ml-4 hover:text-black mt-4 md:mt-0">
      <a href="#" class="text-gray-500 no-underline hover:text-black">お問い合わせ</a>
    </li>
  </ul>
  <p class="copyright flex mt-6 text-gray-700">
    © 2023 sample_app. All Rights Reserved.
  </p>
</footer>
