<!-- ヘッダー -->
<header class="py-6">
  <div class="container mx-auto flex justify-between items-center px-8 md:px-14 lg:px-24 w-full">
    <div class="text-3xl font-bold">demo_app</div>
    <div class="space-x-12 items-center hidden md:flex">
      <a href="#home" class="hover:text-selected-text transition-all duration-300">ホーム</a>
      <a href="#portfolio" class="hover:text-selected-text transition-all duration-300">ポートフォリオ</a>
      <a href="#clients" class="hover:text-selected-text transition-all duration-300">スキル一覧</a>
      <a href="#contact">
        <button class="px-6 py-2 bg-theme font-bold rounded hover:bg-purple-600 transition-all duration-300">
          お問い合わせ
        </button>
      </a>
    </div>
    <div class="md:hidden">
      <i class="fa-solid fa-bars menu-button fa-2x"></i>
      <ul class="space-y-6 menu hidden">
        <li><a href="#home" class="hover:text-selected-text transition-all duration-300 block text-center">ホーム</a></li>
        <li><a href="#portfolio" class="hover:text-selected-text transition-all duration-300 block text-center">ポートフォリオ</a></li>
        <li><a href="#clients" class="hover:text-selected-text transition-all duration-300 block text-center">お客様</a></li>
        <li><a href="#contact" class="hover:text-selected-text transition-all duration-300 block text-center">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
</header>