<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="page gap bg-card-body w-10 h-10 rounded-full text-theme border border-theme flex justify-center items-center mx-2">
  <%= content_tag(:i, '', class: 'fa-solid fa-ellipsis') %>
</span>
