<%= link_to like_lunchbox_logs_path(lunchbox_log_id: log.id), id: "like-button-for-log-#{log.id}", data: { turbo_method: :post } do %>
  <div class="flex flex-row justify-center items-center pt-1">
    <i class="fa-regular fa-heart text-lg"></i>
    <div class="pl-2">
      <%= log.like_lunchbox_logs.count %>
    </div>
  </div>
<% end %>

