<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">みんなのお弁当ログ</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">お弁当を記録できるよ</p>
    </div>
    <% @lunchbox_logs.each do |log|%>
      <%= render 'logs', log: log%>
    <% end %>
  </div>
</section>