<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
          <i class="fa-solid fa-camera-retro mx-4"></i>みんなのお弁当
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        他のユーザーが作ったお弁当を見ることができます。<br>
        素敵なお弁当にはいいねを送りましょう♩
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <% @lunchbox_logs.each do |log|%>
        <%= render 'logs', log: log%>
      <% end %>
    </div>
  </div>
</section>