<section class="text-secondary body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <%# レシピ投稿と説明 %>
    <div class="flex flex-wrap w-full md:mb-20 mb-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-theme">
          <i class="fa-regular fa-pen-to-square mx-4"></i>お弁当を記録する
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed">
        作ったお弁当を投稿しましょう！<br>
        おかずやコメントを入れておくと、あとから振り返るときに便利ですね
      </p>
    </div>
    <%# 入力フォーム %>
    <%= render 'form', log: @lunchbox_log %>
  </div>
</section>
