<% content_for(:title, t('.title')) %>

<section class="text-theme body-font">
  <div class="container px-5 pt-12 md:pt-24 pb-10 mx-auto">
    <div class="flex flex-wrap w-full md:mb-20 mb-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2">
          <i class="fa-solid fa-heart mx-4"></i>作りたいレシピ一覧
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-secondary">
        <%# コメント入れるならここ %>
      </p>
    </div>
    <% if @bookmarked_recipes.length != 0%>
      <%= render 'search_form', url: want_to_cook_bookmarked_recipes_path %>
      <div class="flex flex-wrap -m-4 mt-10">
        <% @bookmarked_recipes.each do |bookmarked_recipe| %>
          <%= render 'recipes/recipe', recipe: bookmarked_recipe.recipe %>
        <% end %>
      </div>
    <% else %>
      <div class= "mt-10">
        <%= render 'shared/no_want_to_cook' %>
      </div>
    <% end %>

    <%= paginate @bookmarked_recipes %>

  </div>
</section>